main.container {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

form.is-submitting button[type=submit] {
    color: var(--bs-btn-disabled-color);
    pointer-events: none;
    background-color: var(--bs-btn-disabled-bg);
    border-color: var(--bs-btn-disabled-border-color);
    opacity: var(--bs-btn-disabled-opacity);
}